.formulario,
.resultados{
    width: 50%;
    padding: 2vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.formulario__campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}

