h1{
    text-align: center;
}

.contenedor{
    margin: 0 auto;
    width: 50%;
}

.formulario{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario div{
    margin-bottom: 5vh;
    text-align: right;  
}